body{
    background-color: rgb(75 85 99);
}
.canvas{
    background-color: rgb(39 39 42);
    position: fixed;
    height: 1000px;
    width: 1000px;
    top: 0;
    left: 0;
}
#area{
    position: fixed;
    top: 0;
    left: 0;
}
.change{
    float: right;
    margin-top: 20px;
    color: aliceblue;
}
.change div{
    margin-right: 10px;
    margin-top: 10px;
}
#area textarea{
    background-color: rgb(39 39 42);
    color:  rgb(244 244 245);
    border: none;
}




